/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 20px solid #e44d26;
}

.footer-container,
.main aside {
    border-top: 20px solid #e44d26;
}

.header-container,
.footer-container,
.main aside {
    background: #f16529;
}

.title {
    color: white;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #e44d26;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */















/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        /* width: 57%; */
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 80%; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}



.special.row{
    border: 1px solid lightgray;
    overflow: hidden;
    margin-bottom: 10px;
}
.section-title{
    padding: 15px;
    padding-left: 45px;
    padding-right: 45px;
}
.section-title > h1{
    /* padding: 10px; */
    padding-left: 15px;
    padding-right: 15px;
    color: #999;
}
.row{
    background-color: white;
}
.portfolio-item.row{
    /* position: relative; */
    border: 1px solid lightgray;
    overflow: hidden;
    /* height: 550px; */
    margin-bottom: 10px;

    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.portfolio-item.row > section{
    width: 35%;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1.4;
}
.portfolio-item.row > section > div.image{
    width: 100%;
    /* height: 100%; */
    min-height: 650px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(233, 247, 255);
    border-right: 2px solid lightgray;
}
.portfolio-item.row > section > div.image:after{
    width: 100%;
    height: 100%;
    min-height: 350px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(233, 247, 255);
    border-right: 2px solid lightgray;
}
.portfolio-item.row > header{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2.2;
    position: relative;
}
.portfolio-item.row > header > div > div.gallery{
    width: 100%;
    margin-bottom: 65px;
}

.portfolio-item.row > header > div > div.gallery img{
    width: 220px;
    object-fit: cover;
    height: 235px;
    cursor: pointer;
}
.portfolio-item.row > header > div > div.gallery > div.image-gallery{
    width: 220px;
    height: 235px;
    max-height: 250px;
    background-size: cover;
    background-position: center;
    display: inline-block;
    border: 1px solid lightgrey;
    margin-right: 8px;
    overflow: hidden;
    background-color: rgb(233, 247, 255);
}
.portfolio-item.row > header{
    width: 60%;
    float: right;
    padding: 25px;
    padding-left: 2.5%;
    padding-right: 2.5%;
}
.main-container{
    background-color: rgb(252, 252, 252);
}
.main-container > .main > article{
    padding: 100px 0;
    width: 100%;
}
.link-to-site{
    position: absolute;
    bottom: 35px;
    display: block;
    width: 75px;
    border: 1px solid lightgrey;
    padding: 10px;
    margin-top: 35px;
    color: rgb(112, 112, 112); /* blue colors for links too */
    text-decoration: inherit; /* no underline */

    transition-timing-function: ease-in-out;
    transition: background 0.5s, color 0.5s;
}
.link-to-site:hover{
    background-color: rgb(82, 136, 207);
    color: white; /* blue colors for links too */
}
.header-container{
    background-color: rgb(82, 136, 207);
    border-bottom: 20px solid rgb(30, 91, 170)
}
.footer-container, .main aside {
    background: rgb(82, 136, 207);
    border-top: 20px solid rgb(30, 91, 170);
}
nav a {
    margin: 0;
    color: white;
    background: rgb(82, 136, 207);

    transition-timing-function: ease-in-out;
    transition: background 1s;
}
nav a:hover {
    color: white;
    background: rgb(30, 91, 170);
}
nav a.active {
    color: white;
    background: rgb(30, 91, 170);
}
.footer-container > footer.wrapper{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.footer-container > footer.wrapper > *{
    text-align: center;

}
.divide{
    border: 1px solid rgb(223, 223, 223);
}
@media only screen and (max-width: 1000px) {
    .portfolio-item.row{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        min-height: 1550px;
    }
    .portfolio-item.row > *{
        min-width: 100%;
        display: flex;
        flex-direction: row;
        flex-basis: 100%;
        flex: 1.4;
    }
    .portfolio-item.row > header > div > div.gallery > div.image-gallery{
        width: 90%;
        margin: 5px;
        height: 450px;
    }
    .portfolio-item.row > section > div.image{
        width: 100%;
        /* height: 100%; */
        min-height: 450px;
    }
}
@media only screen and (max-width: 800px) {
    .portfolio-item.row > header > div > div.gallery > div.image-gallery{
        width: 90%;
        margin: 5px;
        height: 350px;
    }
}
@media only screen and (max-width: 500px) {
    .portfolio-item.row > header > div > div.gallery > div.image-gallery{
        width: 90%;
        margin: 5px;
        height: 250px;
    }
}
@media only screen and (max-width: 400px) {
    .portfolio-item.row > header > div > div.gallery > div.image-gallery{
        width: 90%;
        margin: 5px;
        height: 180px;
    }
}
#background-gallery{
    position: fixed;
    background-color: #000;
    min-width: 100%;
    min-height: 100%;
    z-index: 9999;
    display: none;
}
#background-gallery .gallery img{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    /* height: 150px; */
    width: 860px;
    object-fit: contain;
    object-position: center;
}
.contact{
    color: rgb(95, 95, 95);
    background-color: white;
    border: #999 1px solid;
    padding: 0!important;
}
.contact a{
    padding: 25px!important;
    color: rgb(95, 95, 95);
}
.contact > main{
    padding-left: 125px!important;
    padding: 125px;
}
.contact > main > ul{
    padding: 0;
}
.contact > main > ul > li{
    display: inline-block;
    min-width: 150px;
}
.contact > header{
    width: 100%;
    height: 150px;
    padding-top: 55px;
    text-align: center;
}